@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

html,
body {
    overscroll-behavior: contain;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.react-colorful .react-colorful__pointer {
    width: 15px;
    height: 15px;
}